
#menu_bts_1{
	float:center;
	display: inline-block;
	width: 25%;
	height: 50px;
	background-color: #996600;
	border-radius: 10px;
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #FFFFCC;
}

#menu_bts_3{
	float:center;
	clear: left;
	display: block;
	width: 25%;
	height: 50px;
	background-color: #996600;
	border-radius: 10px;
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #FFFFCC;
	margin-right: 50px;
}

.bar{
	background-image: url('bar.jpg');
	width: 100%;
	height: 100%;
}

#add_books{
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #660000;	
	margin-top:150px;
	margin-right: 140px;

}

#add_books_2{
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #660000;	
	margin-right: 140px;
	clear: top;
}

#add_books_3{
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #660000;	
	margin-right: 20px;
	clear: top;
}

#add_ba{
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #660000;	
	margin-top:100px;
	margin-right: 120px;
	clear: top;

}

#add_ba_2{
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #660000;	
	margin-right: 120px;
	clear: top;
}

#ab_fields{
	width: 25%;
	height: 30px;
	margin-left: 8px;
	text-align: center;
	clear: top;
}

#ab_fields_1{
	width: 25%;
	height: 30px;
	margin-left: 45px;
	text-align: center;
	clear: top;
}

#aab_fields{
	width: 25%;
	height: 30px;
	margin-left: 80px;
	text-align: center;
	clear: top;
}

#aab_fields_1{
	width: 25%;
	height: 30px;
	margin-left: 45px;
	text-align: center;
	clear: top;
}

/*Para el menu desplegable*/
.nav li .flecha{
	font-size: 30px;
	padding-left: 6px;
	display: none;
}

.nav li a:not(:last-child) .flecha{
	display: inline;
}

ul,li,a,span{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	min-width: 20%;
	text-align: center;
}

.nav > li{
	float: left;
}

.nav li a{
	background: #996600;
	color: #FFFFCC;
	display: block;
	border: 1px solid;
	padding: 10px 12px;
	min-width: 20%;
	text-align: center;
}

.nav li a:hover{
	background: #996600;
}

.nav li ul{
	display: none;
	position: absolute;
	min-width: 20%;
	text-align: center;
}

.nav li:hover > ul{
	display: block;
}

.mb{
	float: center;
	clear: left;
}
.mt{
	clear: left;
	float: center;
	margin-left: 25%;
}

table, td, th{
	border: 1px solid #996600;
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
}

th{
	background-color: #996600;
	color: #FFFFCC;
}
