#menu_bts{
	float:left;
	display: inline-block;
	width: 25%;
	height: 50px;
	background-color: #996600;
	border-radius: 10px;
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #FFFFCC;
}

#menu_bts_1{
	float:left;
	display: inline-block;
	width: 25%;
	height: 50px;
	background-color: #996600;
	border-radius: 10px;
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #FFFFCC;
}

#menu_bts_2{
	display: block;
	width: 25%;
	height: 50px;
	background-color: #996600;
	border-radius: 10px;
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #FFFFCC;
	float: left;
	text-decoration: none;
	margin-bottom: 100px;	
}

#menu_bts_3{
	float:left;
	clear: left;
	display: block;
	width: 25%;
	height: 50px;
	background-color: #996600;
	border-radius: 10px;
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #FFFFCC;
	margin-right: 50px;
}

.bar{
	background-image: url('bar.jpg');
	width: 100%;
	height: 100%;
}

#add_books{
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #660000;	
	margin-top:100px;
	margin-right: 140px;

}

#add_books_2{
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #660000;	
	margin-right: 140px;
}

#add_books_3{
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #660000;	
	margin-left: 70px;
}

#add_ba{
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #660000;	
	margin-top:100px;
	margin-right: 120px;

}

#add_ba_2{
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #660000;	
	margin-right: 120px;
}

#ab_fields{
	width: 25%;
	height: 30px;
	margin-left: 8px;
}

#ab_fields_1{
	width: 25%;
	height: 30px;
	margin-left: 45px;
}

#aab_fields{
	width: 25%;
	height: 30px;
	margin-left: 80px;
}

#aab_fields_1{
	width: 25%;
	height: 30px;
	margin-left: 45px;
}

/*Para el menu desplegable*/
.nav li .flecha{
	font-size: 30px;
	padding-left: 6px;
	display: none;
}

.nav li a:not(:last-child) .flecha{
	display: inline;
}

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	min-width: 20%;
	text-align: center;
}

.nav > li{
	float: left;
}

.nav li a{
	background: #996600;
	color: #FFFFCC;
	display: block;
	border: 1px solid;
	padding: 10px 12px;
	min-width: 20%;
	text-align: center;
}

.nav li a:hover{
	background: #996600;
}

.nav li ul{
	display: none;
	position: absolute;
	min-width: 20%;
	text-align: center;
}

.nav li:hover > ul{
	display: block;
}