#menu_bts{
	float:left;
	display: inline-block;
	width: 25%;
	height: 50px;
	background-color: #996600;
	border-radius: 10px;
	font-weight: bold;
	font-weight: italic;
	font-family: Courier;
	font-size: 30px;
	text-align: center;
	color: #FFFFCC;	
}

.bar{
	background-image: url('bar.jpg');
	width: 100%;
	height: 100%;
}